//atenção!!! esse arquivo é apenas um exemplo explicativo
c exemplo: (b1 v b2) ^ (-b1 v b3)  //*c = comentario, q é ignorado pelo leitor
p cnf 3 2 2   //* cabeçalho: 3 variavei booleanas, 2 clausulas, 2 variaveis inteiras
1 2 0   //* clausula (b1 v b2), terminada em 0
-1 3 0   //* clausula (~b1 v b3), terminada em 0
t 2*x1 + x2 <= 7   //* restricao LIA, é lida por parse_expressao_lia
t x1 - x2 >= 0   //*segunda restricao LIA
t x1 + x2 == 5   //*terceira restricao LIA
v 3 2   //* valores iniciais das variaveis inteiras, X1 = 3, X2 = 2

//regras desse formato:::
A linha p sempre vem antes das cláusulas
Cláusulas sempre terminam em 0
Linhas t e v sempre vêm depois de todas as cláusulas
A linha v é opcional — sem ela, x1 e x2 valem 0 (por causa do calloc)
Expressões LIA seguem o padrão coef*xN com + ou - entre termos